In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("FirstSparkSessionApp").getOrCreate()

24/12/06 15:56:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df = spark.read.format('json').load('data/2015-summary.json')#, inferSchema=True, header=True)

In [3]:
df.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

In [4]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [ ]:
df.take(5)

In [19]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [5]:
#spark DataTable
df.select("DEST_COUNTRY_NAME").show(5)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
|    United States|
|            Egypt|
|    United States|
+-----------------+
only showing top 5 rows

In [23]:
df.count()

256

In [18]:
df_dup2 = df.select('DEST_COUNTRY_NAME').dropDuplicates()

In [20]:
df_dup2.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [16]:
df_dup1.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [21]:
df_dup3= df.select('DEST_COUNTRY_NAME').dropDuplicates().cache()
df_dup3.show()

24/12/06 16:06:24 WARN CacheManager: Asked to cache already cached data.

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [15]:
df_dup2.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [28]:
df_dup.count()

132

In [31]:
df_dup.distinct().count()

132

In [26]:
df_dup1.count()

132

In [27]:
df_dup3.count()

132

In [28]:
df.sort('DEST_COUNTRY_NAME').show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Algeria|      United States|    4|
|              Angola|      United States|   15|
|            Anguilla|      United States|   41|
| Antigua and Barbuda|      United States|  126|
|           Argentina|      United States|  180|
|               Aruba|      United States|  346|
|           Australia|      United States|  329|
|             Austria|      United States|   62|
|          Azerbaijan|      United States|   21|
|             Bahrain|      United States|   19|
|            Barbados|      United States|  154|
|             Belgium|      United States|  259|
|              Belize|      United States|  188|
|             Bermuda|      United States|  183|
|             Bolivia|      United States|   30|
|Bonaire, Sint Eus...|      United States|   58|
|              Brazil|      United States|  853|
|British Virgin Is...|      United States|  107|
|            Bulgaria|      United States|    3|
|        Burkina Faso|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [29]:
from pyspark.sql.functions import expr

In [33]:
df3 = df.withColumn('withInCountry', expr('ORIGIN_COUNTRY_NAME==DEST_COUNTRY_NAME'))

In [34]:
df3.show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withInCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [35]:
#SQL 구문 CASE WHEN > 수치형 변수 > 명목형 변수로 변환
df4 = df.withColumn('category', expr('CASE WHEN count<10 THEN "under" WHEN count>=10 THEN "upper" END'))

In [36]:
df4.show(5)

+-----------------+-------------------+-----+--------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|category|
+-----------------+-------------------+-----+--------+
|    United States|            Romania|   15|   upper|
|    United States|            Croatia|    1|   under|
|    United States|            Ireland|  344|   upper|
|            Egypt|      United States|   15|   upper|
|    United States|              India|   62|   upper|
+-----------------+-------------------+-----+--------+
only showing top 5 rows

In [ ]:
# count 2배 해보세요

In [37]:
df5 = df4.withColumn('withInCountry', expr('ORIGIN_COUNTRY_NAME==DEST_COUNTRY_NAME'))

In [38]:
df5.show(5)

+-----------------+-------------------+-----+--------+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|category|withInCountry|
+-----------------+-------------------+-----+--------+-------------+
|    United States|            Romania|   15|   upper|        false|
|    United States|            Croatia|    1|   under|        false|
|    United States|            Ireland|  344|   upper|        false|
|            Egypt|      United States|   15|   upper|        false|
|    United States|              India|   62|   upper|        false|
+-----------------+-------------------+-----+--------+-------------+
only showing top 5 rows

In [39]:
df5.groupBy("withInCountry").count().show()

+-------------+-----+
|withInCountry|count|
+-------------+-----+
|         true|    1|
|        false|  255|
+-------------+-----+

## Projection 과 Filter

```
select a,b,c from TableA  # projection > column > Transformation
where a>10  #filter > Row >Transformation
```

In [41]:
df6 = df5.where('count<5' )

In [42]:
df6.show()

+--------------------+-------------------+-----+--------+-------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|category|withInCountry|
+--------------------+-------------------+-----+--------+-------------+
|       United States|            Croatia|    1|   under|        false|
|       United States|          Singapore|    1|   under|        false|
|             Moldova|      United States|    1|   under|        false|
|               Malta|      United States|    1|   under|        false|
|             Algeria|      United States|    4|   under|        false|
|       United States|          Gibraltar|    1|   under|        false|
|Saint Vincent and...|      United States|    1|   under|        false|
|            Suriname|      United States|    1|   under|        false|
|       United States|             Cyprus|    1|   under|        false|
|       United States|           Malaysia|    3|   under|        false|
|            Thailand|      United States|    3|   under|        false|
|             Liberia|      United States|    2|   under|        false|
|             Hungary|      United States|    2|   under|        false|
|       United States|            Vietnam|    2|   under|        false|
|        Burkina Faso|      United States|    1|   under|        false|
|            Djibouti|      United States|    1|   under|        false|
|       United States|            Estonia|    1|   under|        false|
|       United States|            Hungary|    3|   under|        false|
|              Zambia|      United States|    1|   under|        false|
|            Malaysia|      United States|    2|   under|        false|
+--------------------+-------------------+-----+--------+-------------+
only showing top 20 rows

In [43]:
df6.count()

46

where a>10 and b!=1

In [47]:
df7 = df5.where('count<5' ).where('ORIGIN_COUNTRY_NAME != "United States"')
df7.show()

+-----------------+-------------------+-----+--------+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|category|withInCountry|
+-----------------+-------------------+-----+--------+-------------+
|    United States|            Croatia|    1|   under|        false|
|    United States|          Singapore|    1|   under|        false|
|    United States|          Gibraltar|    1|   under|        false|
|    United States|             Cyprus|    1|   under|        false|
|    United States|           Malaysia|    3|   under|        false|
|    United States|            Vietnam|    2|   under|        false|
|    United States|            Estonia|    1|   under|        false|
|    United States|            Hungary|    3|   under|        false|
|    United States|           Thailand|    4|   under|        false|
|    United States|            Liberia|    2|   under|        false|
|    United States|              Malta|    2|   under|        false|
|    United States|          Lithuania|    1|   under|        false|
|    United States|           Bulgaria|    1|   under|        false|
|    United States|            Georgia|    1|   under|        false|
|    United States|            Bahrain|    1|   under|        false|
|    United States|   Papua New Guinea|    1|   under|        false|
|    United States|          Greenland|    4|   under|        false|
|    United States|          Indonesia|    2|   under|        false|
|    United States|         Montenegro|    1|   under|        false|
|    United States|            Namibia|    1|   under|        false|
+-----------------+-------------------+-----+--------+-------------+

In [ ]:
#프로젝션, 필터링 연습을 진행해 봅니다.

In [53]:
df5.groupBy('withInCountry').count().show()

+-------------+-----+
|withInCountry|count|
+-------------+-----+
|         true|    1|
|        false|  255|
+-------------+-----+

In [54]:
#국내 여행 카운트를 확인합니다.
df5.where('withInCountry==true').show()

+-----------------+-------------------+------+--------+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|category|withInCountry|
+-----------------+-------------------+------+--------+-------------+
|    United States|      United States|370002|   upper|         true|
+-----------------+-------------------+------+--------+-------------+

In [ ]:
#upper 인 ORIGIN_COUNTRY_NAME별 평균 카운트

In [ ]:
#카운트가 200 이상인 ORIGIN_COUNTRY_NAME

In [ ]:
#국내 여행이 아니면서 가장 횟수가 많은 ORIGIN_COUNTRY_NAME top 10을  추출해보세요

In [ ]:
#국내 여행이 아니면서 가장 횟수가 적은 ORIGIN_COUNTRY_NAME top 10을  추출해보세요

In [ ]:
#도착국가별 count 총합이 가장 많은 top10을 추출해 보세요

In [22]:
#spark SQL
spark.sql("select * from mobility_data").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
# groupby 집계

In [ ]:
"""select * from mobility_data
group by pi
"""

In [ ]:
df.